* {
    margin: 0;
}

.wrap{
    background: radial-gradient(green,darkorange);
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.battery{
    color: red;
    margin: 1%;
    padding-right: 10%;
    width: 5%;
    border: 2px groove #fba02f;
    background-image: linear-gradient(45deg, #84fab0, #8fd3f4);
    display: flex;
}
.plus{
    width: 10px;
    height: 20px;
    background: linear-gradient(45deg, #284d3c, #fafafa);
    border-radius: 0 10px 10px 0;
    align-self: center;
    margin-left: auto;
    margin-right: -210%;
}
#bat1{
    background: linear-gradient(270deg, #e1eec3, #f05053);
    width: 100%;
    height: 80px;
    line-height: 80px;
}
#bat2{

    background: linear-gradient(90deg, #b22a63, #2ab279);
    width: 150%;
    height: 80px;
    line-height: 80px;
}
#bat3{
    background: linear-gradient(90deg, #fba02f, #38f9d7);
    width: 300%;
    height: 80px;
    line-height: 80px;

}