@import url("palette.css");

body, div {
	background-color:var(--main-color);
	color:var(--contrast);
	font-family:var(--mFont);
	
	display: flex;
	flex-direction: column;
    align-items: center;
}

.square {
    width: 10px;
    height: 10px;
    margin: 10px;
    display: table;
}
 /*.hidden {*/
	/* display:none;*/
 /*}*/
 
 .second_table td {
    text-align: center;    
}

.main {
    margin:20px;
}
.main > div{
    margin-bottom: 30px;
}

.text{
    font-size: 2.2vh;
}
.btn {
    background-color: var(--accent);
	outline: none;
	border: none;
	border-radius:10px;
	padding:5px 20px;
}
.btn:hover {
    cursor:pointer;
    opacity:0.9;
}
.hidden{
    display:none;
}

div.date {
    width: 100%;
    height: 40px;
    border-bottom:4px solid var(--accent);
	
}

div.date > p {
    text-align:center;
    vertical-align:bottom;
    display:table-cell;
}

.second_table {
    background-color:var(--fields);
	border-collapse: collapse;
	border: 1px solid grey;
}

.second_table td:last-child,td:nth-last-child(2)  {
    background-color: var(--accent);
}
.second_table td:first-child,.second_table td:nth-child(2),.second_table td:nth-child(3),.second_table td:nth-child(4){
    background-color: var(--fields);
}

th, td {
   border: 1px solid grey;
   padding: 12px;
}

.current_day {
    border:2px solid var(--accent);
}

.row {
	flex-direction: row;
	justify-content: space-between;
	margin:10px;
}