.text {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.txbox {
    font-size: 12px;
    padding: 7px;
    border: 1px solid #050505;
}

.submit {
    font-size: 25px;
    padding: 5px 10px;
    background-color: #5117d6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover {
    background-color: #22b91d;
}

* {
    margin: 10px 0;
}
